
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

:root {
    --verde-samp: #4d9e4194;
    --preto-back: #1e1e1e;
    --preto-header: #0e0e0e;
    --preto-menu-div: #161616;
    --verde-hover: #37702e94;
}

html {
    /* scroll-behavior: smooth; */
}

body::-webkit-scrollbar {
    width: 0.5vw;               
  }
  
body::-webkit-scrollbar-track {
  background-color: #4d9e4194;   
}
  
body::-webkit-scrollbar-thumb {
    background-color: #4d9e419f;         

}

body {
    /* top: 0; */
    margin: 0;
    /* padding: 0;
    background-color: #FFFFFF;
    overflow-x: hidden; */
}

.header_dash {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    background-color: var(--preto-header);
    border-bottom: 1px solid var(--verde-samp);
    position: sticky;
    top: 0;
    justify-content: center;
    align-items: center;
}

.header_dash h1{
    margin-top: 0;
}

h1,h2,h3 {
    color: rgb(218, 218, 218);
    font-family: 'Poppins', sans-serif;
    margin: 10px 0px 0px 10px;
}

.icon-menu{
    height: 30px;
    width: auto;
    align-self: flex-start !important;
}

.menu {
    top: 0;
    display: flex;
    flex-direction: column;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    background-color: var(--preto-menu-div);
    width: 150px;
    height: 100vh;
    float: left;
    border-right: 0.1px solid white;
}

.menu hr{
    width: 100%;
}

.menu ul{
    width: 100%;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-left: 0;
    justify-content: center;
    align-items: center;
}

.menu li{
    display: flex;
    color: #ffffff;
    font-family: 'Poppins';
    font-size: 14px;
    width: 95%;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.menu a{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.item-selecionado{
    background-color: var(--verde-samp);
}

.ul-maquinas{
    /* padding-left: 0; */
}

.menu img{
    height: 25px;
    width: auto;
}

.menu hr{
    margin: 0;
}

.nav_dash{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
}

.corpo{
    display: flex;
    width: 100vw;
}

.dash {
    display: flex;
    top: 0;
}

.main div {
    border-radius: 10px;
    
}

.main {
    width: 100%;
    height: 1200px;
    background-color: var(--preto-back);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.geral {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.fr1,.fr2 {
    width: 45%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.processos {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 55%;
    background-color: var(--preto-menu-div);
    
}

.info_maquina {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 40%;
    background-color: var(--preto-menu-div);
    
}

.cpu_ram {
    width: 100%;
    height: 55%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.uso_ram {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 55%;
    background-color: var(--preto-menu-div);
    
}

.disco_rede {
    height: 40%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.uso_rede, .disco {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 48%;
    background-color: var(--preto-menu-div);
    
}

.alertas {
    width: 93.33333333%;
    height: 35%;
    background-color: var(--preto-menu-div);
    
   
}

.divGrafico{
    width: 100%;
    height: 75%;
    justify-content: center;
}

.cnvGrafico{
    width: 98%;
    height: 140px;
}

#divGraficoDisco{
    height: 85%;
}

#graficoDisco{
    height: 100%;
    width: 100%;
}

/*cofiguração do adduser*/

.container {
    width: 90%;
    height: 80%;
}

.botoes_user {
    display: flex;
    justify-content: space-between;
}
.botoes_user button {
    border:none;
    height: 50px;
    width: 150px;
    border-radius: 10px;
    background-color: var(--verde-samp);
    color: white;
    font-family: 'Poppins';
    font-weight: 700;
}

.botoes_user button:hover {
    cursor: pointer;
    background-color: #37702e94;
    transition: 0.2s;
}

#lista_user {
    width: 100%;
    height: 50%;
    background-color: var(--preto-menu-div);
    margin-top: 2vh;
    
}

.box_user {
    padding-left: 2% ;
    margin-bottom: 2vh;
    color: white;
    background-color: var(--preto-header);
    font-family: 'Poppins';
    font-weight: bolder;
}